@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --main-color: salmon;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  overflow-x:hidden; 
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  color: var(--main-color);
  font-size: 45px;
  line-height: 20px;
  margin-bottom: 15px;
}