.chat-form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .chat-input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .chat-sendButton {
    color: var(--main-color-font) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--main-color);
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    cursor: pointer;
  }